[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
androguard = "*"
lief = "*"
netron = "*"
tensorflow = "*"
pytest = "*"
pebble = "*"
install = "*"
"delegator.py" = "*"
frida = "*"

[dev-packages]

[requires]
python_version = "3.7.7"
