[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
androguard = "*"
netron = "*"
tensorflow = "2.4.1"
pytest = "*"
pebble = "*"
install = "*"
"delegator.py" = "*"
frida = "*"
peewee = "*"
paddlelite = "==2.8"
torch = "*"
ncnn = {path = "./res/ncnn.tar.gz"}
angr = "*"
lief = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7.7"
